.clr{clear:both;}
body{
    background-color: #DCDCE1;
}
.container{
    max-width:1170px;
}
.home-logo{padding-right:0px;}
.header-content-wrapper{
    height: auto;
    float:left;
    width:100%;
}
.wrapper-container{
    width:100%;
    margin:auto;
    float:left;
}
.header{
    float:left;
    height:200px;
    width:100%;
    border:1px solid;
}
.rsidebar-symbol{
    color:grey;
}

.topnav {
    overflow: hidden;
    
    z-index: 9999;
}

.header-menu {
    float:left;
    width:100%;
}
ul.header-menu li {
    list-style-type: none;
    width: auto;
    float: left;
    padding-left:20px;
    padding-right:20px;
}
ul.header-menu li a {
    text-decoration:none;
    padding-top:4px;
    color: #FFFFFF;
}

.header-main-menu {
    float:left;
    width:100%;
}
ul.header-main-menu li {
    list-style-type: none;
    width: auto;
    float: left;
    padding-left:20px;
    padding-right:20px;
}

ul li:first-of-type {
    padding-left:0px !important;
}

ul.header-main-menu li a {
    text-decoration:none;
    padding-top:7px;
    color:#FFFFFF;
}

ul.header-main-menu li a:hover {
    color:#000000;
}
.home-page-wrapper{
    border:1px solid #e0e0e0;
    float:left;
    width:100%;
}
.top-search-wrapper{
    min-height: 80px;
    border-top: 4px solid #59b210;
    border-bottom:1px solid #59b210;
    border-left: 1px solid 1px solid #e0e0e0;
    padding-left:20px;
    padding-top:20px;
    padding-bottom:20px;
    float:left;
    width:100%;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, 
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, 
.col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, 
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, 
.col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, 
.col-md-5, .col-md-6, .col-md-7, .col-md-8, 
.col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-1, .col-2, .col-3, .col-4, 
.col-5, .col-6, .col-7, .col-8, 
.col-9, .col-10, .col-11, .col-12
{
    float: left;
}

.maps-inner-tops {
    border-bottom: 1px solid #59b210;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    float: left;
    margin-bottom: 5px;
    min-height: 110px;
    width: 100%;
}
.page-wrapper{
    margin-top:30px;
    margin-bottom:30px;
}

.contert-wrapper{
    width:100%;
}


.niseparator{
    padding-top:6px;
    padding-left:5px;
    padding-right:5px;
    color:#FFFFFF;
}


.nav-link{
    padding:0px;
}
.headerSection{
    float:left;
    width:100%;
}
.topHeaderMenu{
    height:29px;
    float:left;
    border-bottom:2px solid #000000;
    background-color: #59b210 !important;
    width: 100%;
    font-size:12px;
}


.topHeaderMenusticky{
     
    float:left;
    
    width: 100%;
}

.nopadding {
    padding: 0 !important;
 }
 .nomargin{
     margin: 0 !important;
 }

 .header-wrapper{
    float: left;
    width: 97%;
    margin-left: 15px;
    margin-right: 15px;
 }
 
.main-menu-wrapper {
    float:left;
    width:100%;
    border:1px solid #ff3e3e;
    background-color: #e1e8ed;
}
.home-verse{
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    font-size: 20px;
    font-weight: bold;
    padding-top:40px;
}
.verse-title{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: italic;
}

.row {
    margin-left:0px !important;
    margin-right:0px !important;
}

dl, ol, ul{
    padding:0px !important;
}
.header-menu-wrapper{
    float:left;
    height: 29px;
}
.header-mainmenu-wrapper{
    float:left;
    height: 50px;
    width:100%;
}
.bgcolor{
    background-color:#EF3D32 ; 
}
label{
    margin-bottom:.1rem;
}

.title-select-search {
    color: #5d5d5d;
    float: left;
    font-size: 14px;
    height: 30px;
    width: 100%;
    font-weight: bold;
}

#btnSearchDonar{
    background: #ffffff none repeat scroll 0 0;
    border: 2px solid #59b210;
    color: #5d5d5d !important;
    font-size: 16px;
    font-weight: 700;
    height: 35px;
    margin: 0 auto;
    width: 200px;
}

.login-wrapper {
    padding-top: 0.175rem;
    padding-right: 0.75rem;
    padding-bottom: 0.175rem;
    padding-left: 0.75rem;
    float: left;
}
.end-section-wrapper{
    padding-bottom:10px;
}

/**************/ 

      
.fa-search{
    position: relative;
    padding-top: 15px;
    padding-left:5px;
    right:10%;
    color:#978585;
    display: inline;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
}
.fa-grin-squint {
    border: 1px solid red;
    border-radius: 12px;
    font-size: 13px;
    background-color: #f21d13;
    color: yellow;
    margin-right:10px
}
.btn-primary{
    float:right;
    margin-top:3px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;
    padding-right: 15px;
    font-size: 10px;
}
.btn-primary:hover{
    background-color: #7433ec;
    border-color: #FFF;
}

.searchFocused{
    font-style: oblique;
    font-size: medium;
    background-color: #555;
    width: 100%;
}
input[type=text] {
  width: 60%;
  box-sizing: border-box;
  border-radius: 9px;
  font-size: 11px;
  background-color: #0D0D82;;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  float:left;
  height: 35px;
  color:#25255a;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat right;
  background-color: #4B4AC4;
  background-position: right 7px top 10px;
}

input[type=text]:focus {
  width: 100%;
}
.search-contents{
    text-align: right;
    padding-top:5px;
}
.bi-search{
    
   
}

.spacer{
    padding-left: 3px;
    font-size: 7px;;
}


    
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 2px 3px;
        text-decoration: none;
        font-size: 17px;
    }
    
    .active {
        background-color: #04AA6D;
        color: white;
    }

    .topnav .icon {
        display: none;
    }
    
    .dropdown-menu-resp {
        float: left;
        overflow: hidden;
        line-height: 26px;
    }

    .top-nav-content {
        float: left;
        overflow: hidden;
        line-height: 50px;
    }

    .logo{
        float:left;
        background-color: #5b0bf0;
        padding-left: 10px;
        padding-right: 10px;
        color: #FFFFFF;
    }
    .page-title{
        float:left;
        padding-left:10px;
        color:#FFFFFF;
        font-weight: bold;
    }
    .button-icon{
        float:left;
        background-color:#5b0bf0;;
        width: 24px;
        font-size: 10px;
        height:45px;
        padding-top:3px;
        padding-left:10px;
        margin-right:10px;
        margin-left:10px;
    }
    .fa-lg{
        color:white;
    }

    .polygon-info{
        stroke-width:2;
        stroke: #9A51FA;
      }

      .polygon-info-data{
        stroke-width:2;
        stroke: #FFFFFF;
      }


      .polygon-text-info{
        position: relative;
        width: 41px;
        height: 34px;
        text-align: center;
        float: left;
        top: -66px;
        left: 25px;
        stroke-width:2;
        stroke: #FFFFFF;
      }

    /** header--  **/
    .header-content{
        float:left;
        height: 130px;
        margin-top: 5px;
        padding-top: 35px;
        background-image: url("../images/header.png");
        width: 100%;
        background-repeat: no-repeat;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }
    .header-title{
        float:left;
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        padding-left:180px;
        color: white;

    }
    .polygon-image{
        width: 61px;
        height: 64px;
        position: relative;
        top: -15px;
    }

    .polygon-image-mid-wrapper{
        height: 50px;
        float: left;
        width:100%;
    }

    .polygon-image-mid{
        width: 61px;
        height: 64px;
        position: relative;
        top: -15px;
        text-align: left;
        width: 100%;
    }

    .sidebar-heading{
        height: 70px;
    }

    .sidebar-heading-title{
        padding-bottom:8px;
    }

    .hexagon {
        position: relative;  
          width: 57px;
          height: 52px;
          background: rgb(154, 81, 250);
          -webkit-clip-path: polygon(38.08% -1px, 71.94% 18.37%, 70.68% 60.86%, 38.28% 78.96%, 3px 55.74%, 3px 19.8%);
        clip-path:  polygon(38.08% -1px, 71.94% 18.37%, 70.68% 60.86%, 38.28% 78.96%, 3px 55.74%, 3px 19.8%);
        clip-path: polygon("39 -1, 71 18, 70 60, 38 78, 8 55, 3 19");
      }
      .text-data{
          float:left;
          width: 20px;
          height: 20px;
          position:relative;
          top:-10px;
          color:#FFFFFF;
      }


      .hexagonInner {
        position: absolute;
        top: -2px;
            left: 3px;
            right: 6px;
            bottom: 1px;
        background: white;
        -webkit-clip-path: polygon(70.74% 13px, 69.85% 57.92%, 41.91% 74.64%, 1.78% 50.9%, 1px 21.69%, 15px 4.51%);
        clip-path:  polygon(70.74% 13px, 69.85% 57.92%, 41.91% 74.64%, 1.78% 50.9%, 1px 21.69%, 15px 4.51%);
        
      }

      .hexagon-grey {
        position: relative;  
          width: 57px;
          height: 52px;
          background: rgb(223, 220, 228);
          -webkit-clip-path: polygon(38.08% -1px, 71.94% 18.37%, 70.68% 60.86%, 38.28% 78.96%, 3px 55.74%, 3px 19.8%);
        clip-path:  polygon(38.08% -1px, 71.94% 18.37%, 70.68% 60.86%, 38.28% 78.96%, 3px 55.74%, 3px 19.8%);
      }
      
      .hexagonInner-grey {
        position: absolute;
        top: -2px;
            left: 3px;
            right: 6px;
            bottom: 1px;
        background: rgb(94, 88, 88);
        -webkit-clip-path: polygon(70.74% 13px, 69.85% 57.92%, 41.91% 74.64%, 1.78% 50.9%, 1px 21.69%, 15px 4.51%);
        clip-path:  polygon(70.74% 13px, 69.85% 57.92%, 41.91% 74.64%, 1.78% 50.9%, 1px 21.69%, 15px 4.51%);
        
      }



      .hexagonNumber {
        position: relative;  
          width: 57px;
          height: 52px;
          background: #FFFFFF;
          -webkit-clip-path: polygon(39.84% 5px, 59.67% 22.22%, 56.65% 47.4%, 38.29% 57.8%, 12px 44.21%, 12px 23.65%);
        clip-path: polygon(39.84% 5px, 59.67% 22.22%, 56.65% 47.4%, 38.29% 57.8%, 12px 44.21%, 12px 23.65%);
      }
      
      .hexagonInnerNumber {
        position: absolute;
        top: -2px;
            left: 3px;
            right: 6px;
            bottom: 1px;
        background: rgb(7, 29, 131);
        -webkit-clip-path: polygon(62.41% 13px, 63.6% 50.37%, 39.82% 63.32%, 12.2% 52.79%, 6px 25.47%, 18px 10.17%);
        clip-path: polygon(58.24% 13px, 57.35% 46.59%, 37.74% 53.89%, 20.53% 45.25%, 9px 25.47%, 19px 13.94%);
        color: #F4EDED;
        padding-top: 9px;
        font-size: 10px;
        font-weight: bold;
        padding-left: 15px;
        
      }
      .Notifications{
        position: absolute;
        text-align: -6px;
        top: 13px;
        left: 27px;
      }


      .mid-top-container{
          float:left;
          width: 100%;
      }
      .mid-top-allupdates{
          float:left;
      }
      .all-updates{
        float: left;
        border-bottom-style: solid;
        border-bottom-color: #1c87c9;
        border-bottom-width: 3px;
        padding-bottom: 21px;
        padding-top: 21px;
        font-weight: bold;
        font-size: 12px;
      }
      .green-liner{
          width: 100%;
          height: 3px;
          color: #04AA6D;
      }
      .show-select-wrapper{
          float:right;
      }

      .select-formator{
        border: 0px solid #5d5d5d;
        border-radius: 10px;
        padding: 4px 27px 8px 20px !important;
        width: 100%;
        margin-top: 0px;
        background-color: #FFFFFF;
        font-size: 13px;
    }
    .select-formator-input{
        border: 0px solid #5d5d5d;
        border-radius: 10px;
        padding: 8px 28px 12px 20px !important;
        width: 100%;
        margin-top: 3px;
        background-color: #FFFFFF;
        font-size: 13px;
    }

      legend {
        display: block;
        max-width: 100%;
        padding: 0;
        padding-left: 0px;
        margin-bottom: 0px;
        font-size: 8px;
        line-height: inherit;
        color: inherit;
        white-space: normal;
        width: 25%;
        padding-left: 8px;
      }

      fieldset{
        display: block;
        border:1px solid;
        padding-top: 0px;
        padding-right: 12px;
        padding-bottom: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
        line-height: inherit;
        color: #888787;
        white-space: normal;
        background-color: #FFFFFF;
        border-radius: 10px;
      }


      .comment-profile-info{
          float:left;
          padding-left:10px;
          word-wrap: break-word;
      }
      .profile-description{
        font-weight: bold;
        font-size: 12px;
      }
      .profile-description-co{
         
        font-weight: bold;
        font-size: 12px;
        word-wrap: break-word;
      }

      .profile-description-grey{
         
        font-size: 12px;
        color: #77797d;
        padding-left:5px;
        padding-right:5px;
        line-height: 20px;
      }
      .sidebar-content-heading{
          float:left;
          font-weight: bold;
          padding-bottom:22px;
          padding-left:6px;
      }
      .dot-comments {
        height: 18px;
        width: 18px;
        background-color:  #09A2EE;
        border-radius: 50%;
        display:inline-block;
        font-weight: bold;
        color: #FFFFFF;
        padding-bottom: 2px;
        text-align: center;
        margin-left:4px;
        font-size: 11px;
      }
      .dot-comments-member {
        height: 20px;
        background-color:  #5C5CF4;
        border-radius: 10px;
        font-weight: bold;
        color: #FFFFFF;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
        margin-left:3px;
        padding-top:3px;
        padding-bottom:3px;
      }
      .reaction-section-wrapper{
          padding-top:1px;
      }
      .reply-comments a{
          font-size: 10px;
          text-decoration: none;
      }
      .comments-time{
          float:left;
          padding-top:5px;
          padding-left:10px;
          width: 100%;
          font-size:10px !important;
      }
      .reply-comments{
          float: left;
          padding-top:17px;
          padding-bottom: 27px;
       }
       hr{
           border-top:1px solid f2efef;
           border-top: 2px solid #f2efef;
           margin-top: 0px;
            margin-bottom: 0px;

       }

       .reply-comments-updates{
        float: left;
        padding-top:10px;
        padding-bottom: 10px;
        font-size: 10px;
     }
     .reaction-section-wrapper-inner{
         float: left;
         width: 100%;
         
     }

      


       .comments-count{
           float:left;
           text-align: right;
           font-weight: bold;
       }
       .shares-count{
           float:left;
           width: 100%;
           text-align: right;
           font-weight: bold;
       }
       .font-grey-small{
           font-size: 12px;
           font-size: 12px;
           color:#555;
       }



      .innerArea.img{
          width: 50px;
          height:70px;
      }

      .dot {
        height: 18px;
        width: 18px;
        background-color:  #09A2EE;
        border-radius: 50%;
        display: inline-block;
        font-weight: bold;
        color: #FFFFFF;
        text-align: center;
      }

      .sidebarr-polygon-wrapper{
          float:left;
      }


      
      
      .sidebarr-title-wrapper{
        font-size: 11px;
        font-weight: bold;
        float:left;
      }
      .sidebar-text{
          font-size: 10px;
          float: left;
          color:#a8a1a1;
      }
      .sidebar-title{
        font-size: 11px;
        font-weight: bold;
        float:left;
        width: 100%;
      }

      

    .header-text{
        float:left;
        font-size: 10px;
        width: 100%;
        padding-left:178px;
        color:#FFFFFF;
    }

    .content-rightsidebar-wrapper{
        float: left;
    }
    .content-rightsidebar-inner{
        float: left;
        margin-top:15px;
    }

    .content-leftsidebar-wrapper{
        float: left;
    }
    
    .content-leftsidebar-inner{
        float: left;
        margin-top:15px;
    }
    .content-mid-wrapper{
        float: left;
    }
    .content-mid-inner{
        float: left;
        margin-top:15px;
    }
    .content-radius{
        border-radius: 8px;
        width: 100%;
        background-color: #FFFFFF;
        padding-left:7px;
        padding-right:7px;
        padding-top:10px;
        padding-bottom:10px;
    }

    .content-radius-mid{
        border-radius: 8px;
        background-color: #FFFFFF;
        padding-left:7px;
        padding-right:7px;
        padding-top:10px;
        padding-bottom:0px;
        width: 100%;
    }
    .body-content{
        float: left;
        width:100%;
        margin-bottom:10px;
    }
    
    
    .dropdown-menu-resp .dropbtn {
        font-size: 12px;
        border: none;
        outline: none;
        color: white;
        padding-left:10px;
        background-color: #5b0bf0;
        font-family: inherit;
        margin: 0;
        padding-left:20px;
        padding-right:10px;
        height: 50px;
    }
    
    .dropdown-menu-resp-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        margin-top:1px;
    }
    
    .dropdown-menu-resp-content a {
        float: none;
        color: black;
        padding-left:18px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size:13px;
    }
    
    .topnav a:hover,
    .dropdown-menu-resp:hover .dropbtn {
        background-color: rgb(7, 32, 114);
        color: white;
    }
    
    .dropdown-menu-resp-content a:hover {
        background-color: #6351db;
        color: black;
        height: 30px;
        color:#FFFFFF;
    }
    
    .dropdown-menu-resp:hover .dropdown-menu-resp-content {
        display: block;
        background-color: #96C0EE;
    }

    .comments-section-wrapper{
        padding-top:15px;
    }

    .dot-circle {
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
      }
      .dot-circle-inner {
        height: 20px;
        width: 20px;
        background-color: #ccc;
        border-radius: 50%;
        display: inline-block;
        margin-top:3px;
      }

      .fa-exclamation{
        position: relative;
        left: 11px;
        color: #888787;
      }
      .sidebar-quest-heading{
          font-size:13px;
          font-weight: bold;
          float:left;
          padding-bottom: 22px;
      }
      .quest-wrapper{
          float: left;
          border-bottom: 3px solid #f2efef;
      }

      .fa-smile{
          color: yellow;
      }
     
    
     
    
     

      @media screen and (max-width: 767px) {
        body-content{
            display: flex;
            flex-direction: column;
        }
        .content-leftsidebar-wrapper{
            order:2;
        }
      }

     
      

    @media screen and (max-width: 767px) {
        .topnav a:not(:first-child),
        .dropdown-menu-resp .dropbtn {
            display: none;
        }
        .header-wrapper{
            margin-left:0px;
            width: 100%;
        }

        .topnav a.icon {
            float: left;
            display: block;
            padding:14px
        }
        input[type="text"]{
            float: right;
        }
        .topnav.responsive {
            position: relative;
            background-color: rgb(7, 32, 114);
        }
        .topnav.responsive .icon {
            position: absolute;
            left: 0;
            top: 0;
        }
        .topnav.responsive a {
            float: none;
            display: block;
            text-align: right;
        }
        .topnav.responsive .dropdown-menu-resp {
            float: none;
        }
        .topnav.responsive .dropdown-menu-resp-content {
            position: relative;
            background-color: rgb(78, 88, 121);
        }
        .topnav.responsive .dropdown-menu-resp .dropbtn {
            display: block;
            width: 100%;
            text-align: right;
            font-size: 13px;
        }

        .login-wrapper .btn{
            font-size: 12px;
            margin-top:3px;
            float:left;
        }

        .dropdown-menu-resp .dropbtn {
            font-size: 12px;
            border: none;
            outline: none;
            color: white;
            padding: 7px 10px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
            height: 50px;
        }
        .top-nav-content{
            display: none;
        }
        
        
    
    }

    @media screen and (max-width: 576px) {
        .polygon-text-info{
           
        }

    }

    /**  TODO:   **/
    @media screen and (max-width: 1092px) {
    
        /*.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, 
        .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-lg-1, .col-lg-2,
         .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, 
         .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4,
          .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, 
          .col-md-12, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, 
          .col-9, .col-10, .col-11, .col-12 {
              padding-left: 3px;
        }*/
        .sidebar-heading{
            height: auto;
            padding-bottom:20px;
        }
        .sidebarr-polygon-wrapper{
            height: 50px;
        }

        .sidebarr-right-polygon-wrapper{
            height: 50px;
        }
        

        .sidebar-title{
            padding-left:3px;
        }
        .sidebar-text{
            padding-left:3px;
        }
        
         

       

        .Notifications{
            left:15px;
        }

        .fa-exclamation{
            left:13px;
        }

        .polygon-image{
            text-align: left;
            width: 100%;
        }


         

  }










/**************/ 















/* FOOTER SECTION */
.footerSection
{
    float:left;
    width:100%;
    background-color: grey;
}
 

